#copyright {
    background-Color: #c08080;
    padding-top: 1px;
    position: sticky;
    text-align: center;
    left: "0";
    bottom: "0";
    height: 70px;
    width: 100%;
}

#copyright .lor {
    display: inline;
    letter-spacing: 1px;
    font-size: 16px;
    color: white;
}
